{% extends "layout.html" %}

{% block title %}
    Meet the Team
{% endblock %}

{% block main %}
<div class="container">
    <div class="row align-items-center mt-3">
        <div class="col">
            <img src="../images/Kaitlyn.jpeg" ></img>
        </div>

        <div class="col">
            <h3 class="p-3"> Kaitlyn Sandor </h3>
            <p>
                Kaitlyn Sandor is a junior majoring in Computer Science at Yale College. In her free time Kaitlyn enjoys spending time with her dog Zorro, running, and hiking. 
            </p>
        </div>
    </div>
</div> 

<div class="container">
    <div class="row align-items-center mt-3">
        <div class="col">
            <img src="../images/Jamie.png" ></img>
        </div>
        <div class="col">
            <h3 class="p-3">Jamie Flynn</h3>
            <p>
                Bio
            </p>
        </div>
    </div>
</div> 

<div class="container">
    <div class="row align-items-center mt-3">
        <div class="col">
            <img src="../images/Lee.jpg" ></img>
        </div>

        <div class="col">
            <h3 class="p-3">Lee Chen</h3>
            <p>
                Lee Chen is a junior majoring in computer science and studying design at Yale University. She is passionate about making technology intuitive and accessible for people of all age and backgrounds. In her free time, Lee enjoys traveling and learning new instruments.
            </p>
        </div>
    </div>
</div> 

<div class="container">
    <div class="row align-items-center mt-3">
        <div class="col">
            <img src="../images/Grace.jpeg" ></img>
        </div>

        <div class="col">
            <h3 class="p-3">Grace Blaxill </h3>
            <p>
                Grace Blaxill is a Classics major at Yale University studying ancient Greek poetry, specifically archaic lyric. She hopes to pursue a Masters degree in Classics after graduation. When she's not translating various Greek texts for class and for fun, she moonlights as an editor, dancer, and sci-fi enthusiast.        
            </p>
        </div>
    </div>
</div> 

<div class="container">
    <div class="row align-items-center mt-3">
        <div class="col">
            <img src="../images/Jakub.png" ></img>
        </div>

        <div class="col">
            <h3 class="p-3">Jakub Bester</h3>
            <p>
                Bio
            </p>
        </div>
    </div>
</div> 
{% endblock %}