{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<h3 class="row ml-auto align-items-start">Person</h3>
<div class="container">
    <div class="row align-items-start">
    <div class="col">
        <a href="/temple"><img src="/../images/temple.png" ></img></a>
    </div>
    <div class="col">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur hendrerit fringilla. Sed sed ornare ex. Phasellus ut massa vel tortor blandit ullamcorper vel consequat dui. Curabitur viverra mauris sit amet arcu viverra, vel tincidunt dui pretium. Mauris ex quam, molestie sed placerat id, fermentum in mauris. Sed ipsum risus, tempus nec lacinia nec, ullamcorper sed velit. Integer sed aliquet sem. In pharetra lacus semper libero commodo, ac semper odio sagittis. Curabitur varius feugiat posuere. Donec id neque volutpat, sollicitudin leo tincidunt, fringilla felis. Quisque varius iaculis ipsum, rhoncus pellentesque enim aliquam vitae. Cras vitae dignissim sem. Vivamus ultrices mi eget diam vehicula gravida. Sed ultrices quis odio sit amet suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum lacinia mauris nec mollis.
        </p>
    </div>
</div>
</div>{% endblock %}