{% extends "layout.html" %}

{% block title %}
    Palmrya Gate 
{% endblock %}

{% block main %}
    <h1 class="p-3">Insert Gate Leaflet</h1>

    <div class="bg-light p-4">
        <h1 class="p-1">Explore with Inscriptions</h1>
        <p>Click on the inscription to view its metadata.</p>    
    </div>
    <br> 
    
    <form action="/gate" method="post">
        <div class="form-group">
        {%for i in range(0, translations|length)%}
        <div class="row p-2">
            <div class="col">
                <button class="btn bg-black text-white" name="block" value={{translations[i][0]}} style="width: 60vw" type="submit"><h3>{{translations[i][1]}}</h3></button>
            </div>
        </div>
        {%endfor%}
    </form>

{% endblock %}