{% extends "layout.html" %}

{% block title %}
    {{translations[0].block}}
{% endblock %}

{% block main %}
    {% if translations[0].image != "unknown" %}
        <img alt="{{ top }}" class="img-fluid p-3" style="height: 500px" src="{{translations[0].image}}" title="{{ top }}">
    {% endif %}

    {%for i in range(0, translations|length)%}
        <div class="container-fluid py-3 text-center bg-light">
            <h3>
                {{translations[i].inscription}}
            </h3>
        </div>
        <br>
        <div class="metadata container text-left">
            <div class="row p-1">
                <div class="col">
                    <p><b>Inscription:  </b> {{translations[i].inscription}} </p>
                </div>
                <div class="col">
                    <p><b>Translation: </b> {{translations[i].translation}}</p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <p><b>Source: </b> {{translations[i].source}}</p>
                </div>
                <div class="col">
                    <p><b>Period: </b> {{translations[i].period}}</p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <p><b>Letter Height: </b> {{translations[i].height}}</p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <p><b>Apparatus:</b> {{translations[i].app}}</p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <p><b>Bibliography: </b> {{translations[i].bibliography}}</p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <p><b>Other Notes: </b> {{translations[i].notes}}</p>
                </div>
            </div>
        </div>
    {%endfor%}
{% endblock %}
