{% extends "layout.html" %}

{% block title %}
    Palmyrene Temple
{% endblock %}

{% block main %}
    <div class="container p-3">
        <div class="row align-items-center mt-3">
            <div class="col">
                <img src="../static/images/bel1.jpeg"class="img-fluid " style="height: 350px;" ></img>
            </div>
            <div class="col">
                <img src="../static/images/bel2.jpeg"class="img-fluid " style="height: 350px;" ></img>
            </div>
            <div class="col">
                <img src="../static/images/bel3.jpeg"class="img-fluid " style="height: 350px;" ></img>
            </div>
        </div>
    </div> 
    <h1 class="p-5">Insert Temple Leaflet</h1>

    <div class="bg-light p-4">
        <h1 class="p-1">Explore with Inscriptions</h1>
        <p>Click on the inscription to view its metadata.</p>    
    </div>
    <br> 

    <form action="/temple" method="post">
        <div class="form-group">
        {%for i in range(0, translations|length)%}
        <div class="row p-2">
            <div class="col">
                <button class="btn bg-black text-white" name="block" value={{translations[i][0]}} style="width: 60vw" type="submit"><h3>{{translations[i][1]}}</h3></button>
            </div>
        </div>
        {%endfor%}
    </form>

{% endblock %}